/* style css */
/* root and typografy are extensions of the main css */
@import './root.css';
@import './typografy.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--carolinaBlue);
  font-family: 'rubic', 'rubic2';
}
